.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-family: "Aileron", sans-serif;
  font-size: 30px !important;
  font-weight: bold;
  line-height: 1.2em;
}
.container p {
  font-family: "Aileron", sans-serif;
  color: #101c10;
  font-size: 19px;
  line-height: 1.4em;
  color: white;
}
